<div class="content px-3">
    <ul class="nav nav-underline menu-2 d-flex">
        <li class="nav-item">
            <a class="nav-link active border-danger mx-2" href="#" aria-current="page">User Management</a>
        </li>
        {{!-- <li class="nav-item">
            <a class="nav-link mx-2" href="#">WorkSpace</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Role Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Site Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Subscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Billing Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Custom Options</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Integration Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Custom Fields</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Activity Log</a>
        </li> --}}
    </ul>
    <div class="container bg-white rounded my-3">
        <div class="row d-flex justify-content-between">
            <div class="col my-auto">
                <input class="form-control" list="datalistUserType" id="userType" placeholder="Select User Type"
                    style="width: 15rem" onchange="handleChange(this.value)" />
                <datalist id="datalistUserType">
                    <option value="User"></option>
                    <option value="Admin"></option>
                </datalist>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const currentUrl = new URL(window.location.href);
                        const userTypeKeyword = currentUrl.searchParams.get('userTypeKeyword');
                        if (userTypeKeyword) {
                            document.getElementById('userType').value = userTypeKeyword;
                        }
                    });

                    function handleChange(selectedValue) {
                        // Lấy đường dẫn hiện tại
                        const currentUrl = new URL(window.location.href);

                        // Thêm giá trị đã chọn vào đường dẫn hiện tại
                        currentUrl.searchParams.set('userTypeKeyword', selectedValue);


                        // Chuyển hướng đến đường dẫn mới
                        window.location.href = currentUrl.toString();
                    }
                </script>
            </div>
            <div class="col my-auto">
                <select class="form-select" aria-label="Default select example" style="width: 15rem"
                    onchange="handleStatusChange(this.value)">
                    <option value="All" hidden>All Users</option>
                    <option value="All">All Users</option>
                    <option value="Active">Active Users</option>
                    <option value="Inactive">Inactive Users</option>
                </select>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const currentUrl = new URL(window.location.href);
                    const userStatusKeyword = currentUrl.searchParams.get('userStatusKeyword');
                    if (userStatusKeyword) {
                        document.querySelector('select.form-select').value = userStatusKeyword;
                    }
                });
                function handleStatusChange(selectedValue) {
                    // Lấy đường dẫn hiện tại
                    const currentUrl = new URL(window.location.href);

                    // Thêm giá trị đã chọn vào đường dẫn hiện tại
                    currentUrl.searchParams.set('userStatusKeyword', selectedValue);

                    currentUrl.searchParams.delete('page');

                    // Chuyển hướng đến đường dẫn mới
                    window.location.href = currentUrl.toString();
                }
            </script>

            <div class="col right-side d-flex justify-content-end">
                <a href="#" class="guide mx-2 my-auto">
                    <div class="text-center">
                        <img src="/images/guide.png" alt="" style="width: 2rem" />
                        <br />
                        <span>Guide</span>
                    </div>
                </a>

                <a href="/administration/import/" class="ms-2 my-auto d-flex" style="width: 8rem">
                    <i class="bi bi-cloud-upload me-2"></i>
                    Import Users
                </a>

                <a href="#" class="mx-2 my-auto d-flex">
                    <i class="bi bi-archive me-2"></i>
                    Archived
                </a>

                <button type="button" class="btn btn-danger ms-4 my-auto" style="width: 8rem"
                    onclick="window.location.href = '/administration/add-user';">
                    <i class="bi bi-plus"></i> Add Users
                </button>

                <button type="button" class="btn btn-outline-danger ms-4 my-auto" style="width: 8rem"
                    onclick="window.location.href = '/administration/export';">
                    <i class="bi bi-cloud-download"></i> Export
                </button>
            </div>
        </div>
    </div>

    <div class="container d-flex mb-3">
        <div class="d-flex mx-3">
            <div class="rounded-circle shadow bg-body d-flex me-2" style="width: 3rem; height: 3rem">
                <i class="bi bi-people-fill m-auto text-danger fs-3"></i>
            </div>
            <div>
                <strong>Total Users</strong>
                <br />
                <span class="num-total-users">{{totalUser}}</span>
            </div>
        </div>
        <div class="d-flex mx-3">
            <div class="rounded-circle shadow bg-body d-flex me-2" style="width: 3rem; height: 3rem">
                <i class="bi bi-person-check-fill m-auto text-success fs-3"></i>
            </div>
            <div>
                <strong>Active Users</strong>
                <br />
                <span class="num-total-users">{{activeUser}}</span>
            </div>
        </div>
        <div class="d-flex mx-3">
            <div class="rounded-circle shadow bg-body d-flex me-2" style="width: 3rem; height: 3rem">
                <i class="bi bi-person-x-fill m-auto text-warning fs-3"></i>
            </div>
            <div>
                <strong>Inactive Users</strong>
                <br />
                <span class="num-total-users">{{inactiveUser}}</span>
            </div>
        </div>
    </div>

    <div class="container bg-white rounded-top d-flex">
        <div class="w-25 d-flex py-3">
            <span class="my-auto">Show</span>
            <select class="form-select mx-2 my-auto" style="background-color: #f5f5f5; height: 2.5rem; width: 10rem"
                aria-label="Default select example">
                <option selected>10</option>
                <option value="1">20</option>
                <option value="2">30</option>
                <option value="3">50</option>
                <option value="3">100</option>
            </select>
            <span class="my-auto">entries</span>

        </div>
        <div class="input-group mb-3 w-50 px-5 my-auto">

            <form action="" class="search-user w-100">
                <input type="text" class="form-control" placeholder="Search By Name/Email"
                    aria-label="Recipient's username" aria-describedby="button-addon2" name="userKeyword" />
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const form = document.querySelector('.search-user');
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        const keyword = document.querySelector('input[name="userKeyword"]').value;
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('userKeyword', keyword);
                        window.location.href = currentUrl.toString();
                    });
                });
            </script>
        </div>
        {{!-- <div class="d-flex my-auto justify-content-end">
            <div class="sort-controller">
                <div class="dropdown">
                    <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By

                        <div class="dropdown-menu dropdown-menu right">
                            <a href="/administration?sortby=name" class="dropdown-item">Name</a>
                            <a href="/administration?sortby=status" class="dropdown-item">Status</a>
                        </div>
                </div>
            </div>

        </div> --}}
    </div>



    <div class="container bg-white px-3" style="min-height: 50vh">
        <table class="table px-0 mb-0">
            <thead class="table-danger text-light">
                <tr>
                    <td scope="col" class="border border-light-subtle">Name</td>
                    <td scope="col" class="border border-light-subtle">Email</td>
                    <td scope="col" class="border border-light-subtle">
                        User Type
                    </td>
                    <td scope="col" class="border border-light-subtle">Status</td>
                    <td scope="col" class="border border-light-subtle">
                        Designation
                    </td>
                    <td scope="col" class="border border-light-subtle">Action</td>
                </tr>
            </thead>
            <tbody class="">
                {{#each data}}
                <tr>
                    <td scope="col" class="pt-3">
                        <div class="d-flex">
                            <div class="rounded-circle bg-primary bg-gradient d-flex mx-1 border border-5 border-primary-subtle text-white"
                                style="width: 3rem; height: 3rem">
                                <span class="m-auto">{{getInitials this.Name}}</span>
                            </div>
                            <span class="my-auto">{{this.Name}}</span>
                        </div>
                    </td>

                    <td scope="col" class="pt-3">
                        <div style="margin-top: 0.8rem">
                            {{this.Email}}
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div style="margin-top: 0.8rem">
                            {{#if this.IsAdmin}}
                            Admin
                            {{else}}
                            User
                            {{/if}}
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem">
                            {{#if (eq this.Status "Active")}}
                            <div class="rounded-5 bg-success-subtle px-2">
                                <span class="text-success">Active</span>
                            </div>
                            {{else}}
                            <div class="rounded-5 bg-warning-subtle px-2">
                                <span class="text-warning">Inactive</span>
                            </div>
                            {{/if}}

                        </div>
                    </td>

                    <td scope="col" class="pt-3"></td>

                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem">
                            <a data-bs-toggle="modal" data-bs-target="#editUser" href="#" data-bs-toggle="tooltip"
                                title="Edit" class="my-auto mx-2" data-id="{{this._id}}" data-name="{{this.Name}}"
                                data-email="{{this.AccountEmail}}" data-language="{{this.Language}}"
                                data-status="{{this.Status}}" data-user-designation="{{this.Designation}}"
                                data-is-admin="{{this.IsAdmin}}" data-locale="{{this.Locale}}"
                                data-timezone="{{this.Timezone}}" data-user-img="{{this.UserImg}}">
                                <i class="bi bi-pencil"></i>
                            </a>


                            <a href="#" data-bs-toggle="tooltip" title="Delete" class="my-auto mx-2 delete-user"
                                data-id="{{this._id}}" data-user-img="{{this.UserImg}}">
                                <i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}

                <form class="needs-validation editUserForm" action="" enctype="multipart/form-data" novalidate>

                    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
                        style="display: none" aria-hidden="true">
                        <input type="hidden" name="user-id">
                        <input type="hidden" name="user-img">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content" style="margin-left: 300px; padding-right: 300px">
                                <div class="modal-header">
                                    <div class="d-flex my-auto">
                                        <i class="bi bi-pencil me-2"></i>
                                        <h6 class="m-0">Edit User</h6>
                                    </div>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body px-5">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="fFirstName" class="form-label">First Name <span
                                                        class="text-danger">*</span></label>
                                                <input class="form-control" id="fFirstName" name="first-name"
                                                    type="text" placeholder="First Name"
                                                    aria-label="default input example" required />
                                                <div class="invalid-feedback">Please enter First Name.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fLastName" class="form-label">Last Name <span
                                                        class="text-danger">*</span></label>
                                                <input class="form-control" id="fLastName" name="last-name" type="text"
                                                    placeholder="Last Name" aria-label="default input example"
                                                    required />
                                                <div class="invalid-feedback">Please enter Last Name.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fEmail" class="form-label">Email <span
                                                        class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="fEmail" name="email"
                                                    placeholder="Email" required />
                                                <div class="invalid-feedback">Please enter Email.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fLanguage" class="form-label">Language</label>
                                                <select class="form-select" id="fLanguage" name="language"
                                                    aria-label="Default select example">
                                                    <option selected value="English">English</option>
                                                    <option value="Vietnamese">Vietnamese</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fStatus" class="form-label">Status</label>
                                                <select class="form-select" id="fStatus" name="status"
                                                    aria-label="Default select example">
                                                    <option selected value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                Note : Account Setup Email will be sent to the newly created
                                                user.
                                            </div>
                                            <div class="mb-3">
                                                <label for="fUserDesignation" class="form-label">User
                                                    Designation</label>
                                                <input class="form-control" list="datalistUserDesignations"
                                                    id="fUserDesignation" name="user-designation"
                                                    placeholder="Select" />
                                                <datalist id="datalistUserDesignations">
                                                    <option value="VP Of Operation"></option>
                                                    <option value="Senior Software Engineer"></option>
                                                    <option value="Software Engineer"></option>
                                                    <option value="Senior QA Manager"></option>
                                                    <option value="QA/Project Manager"></option>
                                                    <option value="Quality Architect"></option>
                                                    <option value="QA Lead"></option>
                                                    <option value="Quality Analyst"></option>
                                                    <option value="Technical Architect"></option>
                                                    <option value="Engineering Manager"></option>
                                                    <option value="Accout Manager"></option>
                                                    <option value="Developer"></option>
                                                    <option value="CTO"></option>
                                                </datalist>


                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="row my-3">
                                                <div class="">
                                                    <input class="form-check-input " type="checkbox" value="true"
                                                        id="isAdministrator" name="isAdmin" />
                                                    <label class="form-check-label" for="isAdministrator">
                                                        This user is an administrator
                                                    </label>
                                                </div>
                                                <p class="text-secondary small">
                                                    Administrators can add or delete projects, manage users and
                                                    configure the application.
                                                </p>
                                            </div>

                                            <div class="row my-3">
                                                <div class="col">
                                                    <label for="imageInput" class="form-label">Photo</label>
                                                    <br />
                                                    <input class="border p-2" type="file" id="imageInput" name="image"
                                                        accept=".png, .jpg, .jpeg" />

                                                    <p class="text-secondary small">
                                                        <strong>Allowed Formats :</strong> png, jpg, jpeg
                                                    </p>
                                                </div>
                                                <div class="col-3">
                                                    <div id="imagePreview">
                                                        <img id="previewImage" src="/images/{{this.UserImg}}"
                                                            alt="Default Photo" style="width: 8rem; height: 8rem" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fLocale" class="form-label">Locale</label>
                                                <input class="form-control" list="datalistLocales" id="fLocale"
                                                    name="locale" placeholder="Select Locale" />
                                                <p class="text-secondary small">
                                                    Determines how dates and numbers are formatted.
                                                </p>
                                                <datalist id="datalistLocales"> </datalist>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fTimezone" class="form-label">Timezone</label>
                                                <input class="form-control" list="datalistTimezones" id="fTimezone"
                                                    name="timezone" placeholder="Select Timezone" />
                                                <p class="text-secondary small">
                                                    Determines the time zone for dates and times.
                                                </p>
                                                <datalist id="datalistTimezones"> </datalist>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <div class="right-side d-flex">
                                        <button type="button" class="btn btn-outline-danger mx-2"
                                            data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-danger mx-2">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                {{!-- <tr>
                    <td scope="col" class="pt-3">
                        <div class="d-flex">
                            <div class="rounded-circle bg-primary bg-gradient d-flex mx-1 border border-5 border-primary-subtle text-white"
                                style="width: 3rem; height: 3rem">
                                <span class="m-auto">MN</span>
                            </div>
                            <span class="my-auto">Minh-Nhat Nguyen</span>
                        </div>
                    </td>

                    <td scope="col" class="pt-3">
                        <div style="margin-top: 0.8rem">
                            21120107@student.hcmus.edu.vn
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div style="margin-top: 0.8rem">Super Admin</div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem">
                            <div class="rounded-5 bg-warning-subtle px-2">
                                <span class="text-warning">Inactive</span>
                            </div>
                        </div>
                    </td>

                    <td scope="col" class="pt-3"></td>

                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem">
                            <a href="#" data-bs-toggle="tooltip" title="Edit" class="my-auto mx-2"><i
                                    class="bi bi-pencil"></i></a>
                        </div>
                    </td>
                </tr> --}}
            </tbody>
        </table>
    </div>

    <div class="container bg-white px-3 rounded-bottom d-flex justify-content-between py-4 mb-3">
        <div>
            <span>Showing </span> <span>{{{pagination.showing}}} </span><span> of </span><span>
                {{{pagination.totalRows}}} total entries</span>
        </div>

        <div class="d-flex my-auto justify-content-end">
            <div class="d-flex align-items-center">
                {{{createPagination pagination paginationClass="pagination my-0" paginationStyle="justify-content-end"
                leftText="Prev" rightText="Next" }}}
            </div>
            {{!-- <button class="rounded-circle bg-dark-subtle d-flex mx-1 border-0" style="width: 2rem; height: 2rem">
                <i class="bi bi-chevron-compact-left m-auto"></i>
            </button>
            <button class="rounded-circle bg-danger d-flex mx-1 border-0" style="width: 2rem; height: 2rem">
                <span class="m-auto">1</span>
            </button>
            <button class="rounded-circle bg-dark-subtle d-flex mx-1 border-0" style="width: 2rem; height: 2rem">
                <i class="bi bi-chevron-compact-right m-auto"></i>
            </button> --}}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".pagination li").forEach((li, index) => {
        li.classList.add("page-item");
    });

    document.querySelectorAll(".pagination a").forEach(a => {
        a.classList.add("page-link");
    });
</script>

<script src="/js/administration-CRUD.js"></script>