<div class="content px-3">
    {{>navigation}}

    <div class="container bg-white rounded my-3">
        <div class="row d-flex justify-content-between">
            <div class="col sm-8 d-flex flex-row align-items-center">
                <!-- <a href="/project/list" class="mx-2 project-name"
        >My Business Project</a
        >

        <i class="bi bi-chevron-right"></i> -->

                <span class="mx-2 address-component">Overview</span>
            </div>
            <div class="col sm-4 d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-outline-seconary dropdown-toggle quick-menu m-2" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown">
                        <i class="bi bi-grid-3x3"></i> Quick Menu
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item quick-menu" href="#"><i class="bi bi-brush"></i> Edit project</a>
                        </li>
                        <li>
                            <a class="dropdown-item quick-menu" data-bs-toggle="modal"
                                data-bs-target="#viewAssigneesModal" href="#"><i class="bi bi-person"></i> View
                                assignees</a>

                        </li>
                        <li>
                            <a class="dropdown-item quick-menu"
                                href="/project/{{project.ProjectID}}/requirement/import"><i
                                    class="bi bi-cloud-arrow-up"></i> Import
                                requirements</a>
                        </li>
                        <li>
                            <a class="dropdown-item quick-menu"
                                href="/project/{{project.ProjectID}}/test-cases/import"><i
                                    class="bi bi-cloud-arrow-up"></i> Import test cases</a>
                        </li>
                        <li>
                            <a class="dropdown-item quick-menu" href="/project/{{project.ProjectID}}/report"><i
                                    class="bi bi-passport"></i> Reports</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewAssigneesModal" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
        style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="margin-left: 60vw; padding-right: 60vw">
                <div class="modal-header">
                    <h6 class="">View Assignees</h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-5">
                    <div class="container bg-white px-0">
                        <table class="table px-0 mb-0">
                            <thead class="table-danger text-light">
                                <tr>
                                    <td scope="col" class="border border-light-subtle">Users</td>
                                    <td scope="col" class="border border-light-subtle">Role Type</td>

                                </tr>
                            </thead>
                            <tbody class="">
                                {{#each project.Participations}}
                                <tr>
                                    <td scope="col" class="">
                                        <div class="d-flex">
                                            <div class="rounded-circle bg-primary bg-gradient d-flex mx-1 border border-5 border-primary-subtle text-white"
                                                style="width: 3rem; height: 3rem">
                                                <span class="m-auto">{{getInitials this.Name}}</span>
                                            </div>
                                            <span class="my-auto">{{this.Name}}</span>
                                        </div>
                                    </td>
                                    <td scope="col" class=" align-content-center">

                                        <div class="d-flex justify-content-between">
                                            <span class="my-auto">{{this.Role}}</span>
                                            <a href="#" data-bs-toggle="tooltip" title="Remove"
                                                class="my-auto mx-2 remove-assign-user" data-id="{{this._id}}"
                                                data-projectID="{{../project.ProjectID}}"><i
                                                    class="bi bi-trash"></i></a>
                                        </div>

                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>


                    {{!-- <div class="border-start border-dark border-4 rounded bg-light px-3 py-2">
                        <h6>Note:</h6>
                        <h6>Add Test Run - Queue</h6>
                        <p>
                            ShareBug has the option to Queue the process of adding
                            Test cases to Testrun. Enabling Queue for creating a
                            test run with more than 500 Test cases will run in the
                            background without affecting your regular work and
                            takes lesser time and bandwidth.
                        </p>
                        <p class="m-0">
                            Follow the steps to Enable Queue for Test Run
                        </p>
                        <p class="m-0">
                            1. Go to Administration->Site Settings
                        </p>
                        <p class="m-0">
                            2. Enable the option
                            <strong>"Queue Enable/Disable For Test Run"</strong>
                        </p>
                        <a href="#" class="m-0">Read More...</a>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3 py-2" id="cards-area">
        <div class="row h-100">
            <div class="col-sm-9 h-100" id="content-col">
                <div class="row mb-3" id="overview-row">
                    <div class="col-sm-4 ps-0">
                        <div class="container h-100 w-100 bg-white rounded p-2">
                            <div class="container d-flex flex-column justify-content-between">
                                <div class="container d-flex flex-column align-items-center" id="project-info">
                                    <img width="100px" src="/images/Flag_of_the_United_States.png" alt=""
                                        class="project-icon" />
                                    <h5>{{project.Name}}</h5>
                                    {{!-- <p class="text-muted fw-bold">Created by John Doe</p>
                                    <p class="text-muted">Created on 28th June 2022</p> --}}
                                    <p class="text-muted fw-bold">Created by {{project.Creater}}</p>
                                    <p class="text-muted">Created on {{formatDate3 project.CreatedAt}}</p>
                                </div>

                                <div class="container d-flex justify-content-between">
                                    <div>
                                        <h6>Project key</h6>
                                    </div>
                                    <div class="rounded-pill bg-dark-subtle w-auto px-3">
                                        {{truncateId project.ProjectID 10}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="container h-100 w-100 bg-white rounded p-2 position-relative">
                            <h6 class="m-3">Open Release(s) Status</h6>
                            <div class="d-flex mb-2">
                                <canvas id="chartOpenReleaseStatus" style="
                max-width: 8rem;
                width: 8rem;
                max-height: 8rem;
                height: 8rem;
                " data-numOpenReleaseStatus="{{project.numOpenReleaseStatus}}"></canvas>
                                <div class="open-release-status-container row ms-2"></div>
                            </div>
                            {{!-- <h6>Open Release(s) Status</h6>

                            <div
                                class="position-absolute top-50 start-50 translate-middle d-flex flex-row align-content-center">
                                <div class="icon-holder">
                                    <i class="bi bi-file-code fs-2"></i>
                                </div>
                                <div class="d-flex align-items-center text-muted">
                                    No status available
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>

                <div class="row" id="resource-row">
                    <div class="col-sm-3 ps-0 h-100">
                        <div
                            class="container bg-white rounded h-100 d-flex flex-column justify-content-between py-3 px-1">
                            <a href="/project/{{project.ProjectID}}/release"
                                class="container d-flex flex-column align-items-center">
                                <div class="icon-holder circle mx-auto" style="background: #fef8f5">
                                    <img src="/images/releases.svg" alt="" class="centered-image" />
                                </div>
                                <!-- <div class="icon-holder">
                                            <i class="bi bi-unity fs-3"></i>
                                        </div> -->

                                <div id="no-of-releases">
                                    <h4>{{project.releaseCount}}</h4>
                                </div>

                                <div class="container-title">
                                    <h6>Releases</h6>
                                </div>
                            </a>

                            <div class="item-list overflow-auto" style="height: 25rem">
                                {{#each project.releases}}
                                <a data-project-id="{{../project.ProjectID}}" onclick="showReleaseDetails(event)"
                                    data-release-id="{{this._id}}" href="#">
                                    <div
                                        class="item-container container bg-body-secondary rounded-4 d-flex justify-content-between w-100 align-items-center my-1">
                                        <div style="width: 2rem; height: 2rem; position: relative;">
                                            <img src="/images/releases.svg" alt="" class="centered-image" />
                                        </div>
                                        <div class="release-name d-flex flex-row align-content-center">Release
                                            {{truncateId this._id 8}}</div>
                                    </div>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 ps-0 h-100">
                        <div
                            class="container bg-white rounded h-100 d-flex flex-column justify-content-between py-3 px-1">
                            <a href="/project/{{project.ProjectID}}/test-case"
                                class="container d-flex flex-column align-items-center">
                                <div class="icon-holder circle mx-auto" style="background: #effff0">
                                    <img src="/images/test_cases.svg" alt="" class="centered-image" />
                                </div>
                                <!-- <div class="icon-holder">
                                            <i class="bi bi-clipboard2-data fs-3"></i>
                                        </div> -->

                                <div id="no-of-test-cases">
                                    <h4>{{project.testCaseCount}}</h4>
                                </div>

                                <div class="container-title">
                                    <h6>Test cases</h6>
                                </div>
                            </a>

                            <div class="item-list overflow-auto" style="height: 25rem">
                                {{#each project.testCasesDetails}}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#testCaseModal"
                                    onclick="showTestCaseModal(this)" data-id="{{this._id}}"
                                    data-project-id="{{../project.ProjectID}}" data-title="{{this.Title}}"
                                    data-priority="{{this.Priority}}" data-precondition="{{this.Precondition}}"
                                    data-description="{{this.Description}}" data-module-id="{{this.ModuleID}}"
                                    data-created-at="{{formatDate2 CreatedAt}}">
                                    <div
                                        class="item-container container bg-body-secondary rounded-4 d-flex justify-content-between w-100 align-items-center my-1">
                                        <div style="width: 2rem; height: 2rem; position: relative;">
                                            <img src="/images/test_cases.svg" alt="" class="centered-image" />
                                        </div>
                                        <div class="release-name d-flex flex-row align-content-center">Test case
                                            {{truncateId this._id 8}}</div>
                                    </div>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 ps-0  h-100">
                        <div
                            class="container bg-white rounded h-100 d-flex flex-column justify-content-between py-3 px-1">
                            <a href="/project/{{project.ProjectID}}/test-run"
                                class="container d-flex flex-column align-items-center">
                                <div class="circle mx-auto" style="background: #fef8f5">
                                    <img src="/images/test_runs.svg" alt="" class="centered-image" />
                                </div>
                                <!-- <div class="icon-holder">
                                            <i class="bi bi-clipboard-check fs-3"></i>
                                        </div> -->

                                <div id="no-of-test-runs">
                                    <h4>{{project.testRunCount}}</h4>
                                </div>

                                <div class="container-title">
                                    <h6>Test runs</h6>
                                </div>
                            </a>

                            {{!-- <div class="item-list overflow-auto mt-5 h-50">
                                <div class="d-flex flex-row align-items-center justify-content-center text-muted">
                                    No test runs available
                                </div>
                            </div> --}}
                            <div class="item-list overflow-auto" style="height: 25rem">
                                {{#each project.testRuns}}
                                <a href="/project/{{../project.ProjectID}}/test-run/result">
                                    <div
                                        class="item-container container bg-body-secondary rounded-4 d-flex justify-content-between w-100 align-items-center my-1">
                                        <div style="width: 2rem; height: 2rem; position: relative;">
                                            <img src="/images/test_runs.svg" alt="" class="centered-image" />
                                        </div>
                                        <div class="release-name d-flex flex-row align-content-center">Test run
                                            {{truncateId this._id 8}}</div>
                                    </div>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 ps-0 h-100">
                        <div
                            class="container bg-white rounded h-100 d-flex flex-column justify-content-between py-3 px-1">
                            <a href="/project/{{project.ProjectID}}/issue"
                                class="container d-flex flex-column align-items-center">
                                <div class="circle mx-auto" style="background: #f6f1ff">
                                    <img src="/images/issues.svg" alt="" class="centered-image" />
                                </div>
                                <!-- <div class="icon-holder">
                                            <i class="bi bi-exclamation-triangle fs-3"></i>
                                        </div> -->

                                <div id="no-of-issues">
                                    <h4>{{project.issueCount}}</h4>
                                </div>

                                <div class="container-title">
                                    <h6>Issues</h6>
                                </div>
                            </a>

                            <div class="item-list overflow-auto" style="height: 25rem">
                                {{#each project.issues}}
                                <a href="/project/{{../project.ProjectID}}/issue/{{this._id}}">
                                    <div
                                        class="item-container container bg-body-secondary rounded-4 d-flex justify-content-between w-100 align-items-center my-1">
                                        <div style="width: 2rem; height: 2rem; position: relative;">
                                            <img src="/images/issues.svg" alt="" class="centered-image" />
                                        </div>
                                        <div class="release-name d-flex flex-row align-content-center">Issue
                                            {{truncateId this._id 8}}</div>
                                    </div>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" id="history-col">
                <div class="bg-white rounded h-100 px-3">
                    <h6 class="py-3">Activity log</h6>

                    <div class="container flex-column overflow-auto h-75">
                        {{!-- <div class="history-item d-flex flex-column rounded border p-1 m-2">
                            <div class="text-muted history-item-timestamp">
                                April 28, 2024 23:40
                            </div>

                            <div class="history-item-author text-muted">
                                <i class="bi bi-person"></i> Al Pacino
                            </div>
                            <div class="d-flex flex-column history-item-detail">
                                <p class="m-0">Added 2 reports</p>
                            </div>
                        </div> --}}
                        {{#each project.activities}}
                        <div class="history-item d-flex flex-column rounded border p-1 m-2">
                            <div class="text-muted history-item-timestamp">
                                {{ formatDate2 ActivityDate }} <!-- Format date function -->
                            </div>

                            <div class="history-item-author text-muted">
                                <i class="bi bi-person"></i> {{ UserName }}
                            </div>
                            <div class="d-flex flex-column history-item-detail">
                                <p class="m-0">{{ Action }}: {{ Title }}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> release-modal }}
{{> test-case-modal }}