<div class="content px-3">
    {{>navigation}}
    <div class="container bg-white rounded my-3 py-1 d-flex justify-content-between">
        <div class="my-auto d-flex">
            <span class="my-auto fw-semibold">Test Cases</span>
            <div class="bg-danger-subtle px-2 mx-2 rounded">
                <span class="text-danger">{{project.TotalTestCase}}</span>
            </div>
        </div>
        <div class="d-flex header-menu">
            <a href="#" class="mx-2 my-auto fs-3 fw-bolder text-danger"><i class="bi bi-arrow-repeat"></i></a>

            <a href="#" class="guide mx-2 my-auto">
                <div class="text-center">
                    <img src="/images/guide.png" alt="" style="width: 2rem" />
                    <br />
                    <span>Guide</span>
                </div>
            </a>

            <a href="#" class="mx-2 my-auto">
                <i class="bi bi-archive"></i>
                Archived
            </a>

            <a href="#" class="mx-2 my-auto">
                <i class="bi bi-search"></i>
                Search
            </a>

            <a href="/project/{{project.ProjectID}}/test-case/export/" class="mx-2 my-auto">
                <i class="bi bi-cloud-download"></i>
                Export
            </a>

            <a href="/project/{{project.ProjectID}}/test-case/import" class="ms-2 me-4 my-auto">
                <i class="bi bi-cloud-upload"></i>
                Import
            </a>

            <a href="#" class="mx-2 my-auto fs-5"><i class="bi bi-three-dots-vertical"></i></a>

            <div class="btn-group mx-2 my-auto" role="group" style="width: 10rem">
                <button type="button" class="btn btn-danger" data-bs-target="#addTestCase" data-bs-toggle="modal">
                    <i class="bi bi-plus text-white"></i>
                    Add Test Case</button>

                {{!-- modal add --}}
                <form action="" id="addTestCaseForm" onsubmit="addTestCase(event)" class="needs-validation" novalidate>
                    <input type="hidden" name="projectId" value="{{project.ProjectID}}" />
                    <div class="modal fade" id="addTestCase" tabindex="-1" aria-labelledby="addTestCaseLabel"
                        style="display: none" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content" style="margin-left: 300px; padding-right: 300px">
                                <div class="modal-header">
                                    <div>
                                        <div class="modal-title d-flex justify-content-between align-items-center p-3"
                                            id="addTestCaseLabel">
                                            <h6 class="ms-3 fs-5">
                                                <i class="bi bi-file-earmark-text" style="color: #00897b"></i>
                                                Add Test Case
                                            </h6>
                                            <div class="d-flex align-items-center">
                                                <button type="button" class="btn btn-outline-danger mx-2"
                                                    data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="submit" class="btn btn-danger mx-2">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                        <ul class="nav nav-underline menu-2">
                                            <li class="nav-item mx-2">
                                                <a class="nav-link active border-danger" aria-current="page"
                                                    href="#">Test Case Details</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Steps</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Attachments</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Link Testcase</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Link Requirements</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Custom Fields</a>
                                            </li>
                                            <li class="nav-item mx-2">
                                                <a class="nav-link" href="#">Others</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body px-5">
                                    <div class="container d-flex justify-content-between">
                                        <div class="col-6 me-5">
                                            <div class="mb-4 d-flex align-items-center">
                                                <div class="me-4 fs-60" style="color: #919faf">
                                                    Template
                                                </div>
                                                <button class="btn btn-white dropdown-toggle fw-semibold border-0"
                                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-file-earmark-text" style="color: #00897b"></i>
                                                    Test Case (Text)
                                                </button>
                                                <ul class="dropdown-menu d-none">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-bar-chart-steps text-primary"></i>
                                                            Test Case (Steps)</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-file-earmark-text"
                                                                style="color: #00897b"></i>
                                                            Test Case (Text)</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <img src="/images/bdd-icon.png" alt="BDD Case"
                                                                style="width: 15px" class="me-1" />
                                                            Test Case (BDD)</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="nameModule"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>
                                                        Select Module
                                                        <span style="color: #f44336">*</span>
                                                    </div>
                                                </label>
                                                <input type="text" id="nameModule" name="nameModule" list="brow-module"
                                                    class="form-select border-0 bg-light" required />
                                                <datalist id="brow-module">
                                                    {{#each project.AllModules}}
                                                    <option value="{{this.Name}}"></option>
                                                    {{/each}}
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    Please Select Module.
                                                </div>
                                                <div style="
                                    font-size: smaller;
                                    border-style: dashed !important;
                                " class="border border-1 rounded-2 mt-2 py-2 text-center d-flex justify-content-center align-items-center">
                                                    To add new module.
                                                    <button type="button" id="btnAddModuleTestCase"
                                                        class="btn btn-danger btn-sm ms-3"
                                                        onclick="window.open('/project/{{project.ProjectID}}/module', '_blank')">
                                                        Click here
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="nameTestCase"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>
                                                        Test Case Title
                                                        <span style="color: #f44336">*</span>
                                                    </div>
                                                </label>
                                                <textarea class="form-control border-0 bg-light" id="nameTestCase"
                                                    name="nameTestCase" rows="4" placeholder="Test Case Title"
                                                    style="color: #757575" required></textarea>
                                                <div class="invalid-feedback">
                                                    Please Enter Test Case Title.
                                                </div>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="descriptionTestCase" class="form-label">Description</label>
                                                <div class="rounded-top border d-flex p-2 bg-light">
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-bold"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-italic"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-link"></i>
                                                    </button>
                                                    <select class="form-select border-0 bg-light"
                                                        aria-label="Default select example" style="width: 8rem">
                                                        <option selected>Normal</option>
                                                        <option value="1">Small</option>
                                                        <option value="2">Normal</option>
                                                        <option value="3">Large</option>
                                                    </select>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ol"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ul"></i>
                                                    </button>
                                                </div>
                                                <textarea class="form-control rounded-top-0 bg-light"
                                                    id="descriptionTestCase" name="descriptionTestCase" rows="5"
                                                    placeholder="Enter Description"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="nameTestPlan"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>
                                                        Test Plan
                                                        <span style="color: #f44336">*</span>
                                                    </div>
                                                </label>
                                                <input list="brow-test-plan" id="nameTestPlan" name="nameTestPlan"
                                                    type="text" placeholder="Select a Test Plan"
                                                    class="form-select border-0 bg-light" required />
                                                <datalist id="brow-test-plan">
                                                    {{#each project.AllTestPlan}}
                                                    <option value="{{this.Name}}"></option>
                                                    {{/each}}
                                                </datalist>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="typeTestCase"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>Type</div>
                                                </label>
                                                <input list="brow-type" id="typeTestCase" name="typeTestCase"
                                                    type="text" placeholder="Acceptance"
                                                    class="form-select border-0 bg-light" />
                                                <datalist id="brow-type">
                                                    <option value="Acceptance"></option>
                                                    <option value="Accessibility"></option>
                                                    <option value="Automation"></option>
                                                    <option value="Compatibility"></option>
                                                    <option value="Functional"></option>
                                                    <option value="Other"></option>
                                                    <option value="Performance"></option>
                                                    <option value="Regression"></option>
                                                    <option value="Smoke &amp; Sanity"></option>
                                                    <option value="Usability"></option>
                                                </datalist>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="priorityTestCase"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>Priority</div>
                                                </label>
                                                <input list="brow-priority" id="priorityTestCase"
                                                    name="priorityTestCase" type="text" placeholder="Critical"
                                                    class="form-select border-0 bg-light" />
                                                <datalist id="brow-priority">
                                                    <option value="Critical"></option>
                                                    <option value="High"></option>
                                                    <option value="Medium"></option>
                                                    <option value="Low"></option>
                                                </datalist>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label for="nameTags"
                                                        class="form-label d-flex justify-content-between">
                                                        <div>Tags</div>
                                                    </label>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        id="btn-add-tag">
                                                        <i class="bi bi-plus"></i> Tag
                                                    </button>
                                                </div>
                                                <div class="tagsinput">
                                                    <input list="brow-tag" placeholder="Enter a Tag"
                                                        class="form-select border-0 bg-light" type="text"
                                                        name="nameTags" id="nameTags" style="display: none;" />
                                                    <datalist id="brow-tag">
                                                        <option value="sanity"></option>
                                                        <option value="regression"></option>
                                                    </datalist>
                                                    <div class="tag justify-content-center" id="tag-template"
                                                        style="display: none;">
                                                        <span class="tag-text text-white"></span>
                                                        <span class="btn-delete-tag text-white">
                                                            <i class="bi bi-x"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="preconditionTestCase"
                                                    class="form-label">Precondition</label>
                                                <div class="rounded-top border d-flex p-2 bg-light">
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-bold"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-italic"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-link"></i>
                                                    </button>
                                                    <select class="form-select border-0 bg-light"
                                                        aria-label="Default select example" style="width: 8rem">
                                                        <option selected>Normal</option>
                                                        <option value="1">Small</option>
                                                        <option value="2">Normal</option>
                                                        <option value="3">Large</option>
                                                    </select>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ol"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ul"></i>
                                                    </button>
                                                </div>
                                                <textarea class="form-control rounded-top-0 bg-light"
                                                    id="preconditionTestCase" name="preconditionTestCase" rows="5"
                                                    placeholder="Enter Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </form>

                {{!-- modal edit --}}
                <form action="" id="editTestCaseForm" onsubmit="editTestCase(event)" class="needs-validation"
                    novalidate>
                    <input type="hidden" name="projectIdEdit" value="{{project.ProjectID}}" />
                    <input type="hidden" name="idEdit" id="idEdit" />
                    <div class="modal fade" id="editTestCase" tabindex="-1" aria-labelledby="editTestCaseLabel"
                        style="display: none" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content" style="margin-left: 300px; padding-right: 300px">
                                <div class="modal-header">
                                    <div class="col-12">
                                        <div class="modal-title d-flex justify-content-between align-items-center p-3"
                                            id="editTestCaseLabel">
                                            <h6 class="ms-3 fs-5">
                                                <i class="bi bi-file-earmark-text" style="color: #00897b"></i>
                                                Edit Test Case Text
                                            </h6>
                                            <div class="d-flex align-items-center">
                                                <button type="button" class="btn btn-outline-danger mx-2"
                                                    data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="submit" class="btn btn-danger mx-2">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                        <ul class="nav nav-underline menu-2">
                                            <li class="nav-item mx-2">
                                                <a class="nav-link active border-danger" aria-current="page"
                                                    href="#">Test Case Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-body px-5">
                                    <div class="container d-flex justify-content-between">
                                        <div class="col-6 me-5">
                                            <div class="mb-4 d-flex align-items-center">
                                                <div class="me-4 fs-60" style="color: #919faf">
                                                    Template
                                                </div>
                                                <button class="btn btn-white dropdown-toggle fw-semibold border-0"
                                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-file-earmark-text" style="color: #00897b"></i>
                                                    Test Case (Text)
                                                </button>
                                                <ul class="dropdown-menu d-none">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-bar-chart-steps text-primary"></i>
                                                            Test Case (Steps)</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-file-earmark-text"
                                                                style="color: #00897b"></i>
                                                            Test Case (Text)</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <img src="/images/bdd-icon.png" alt="BDD Case"
                                                                style="width: 15px" class="me-1" />
                                                            Test Case (BDD)</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="nameTestCaseEdit"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>
                                                        Test Case Title
                                                        <span style="color: #f44336">*</span>
                                                    </div>
                                                </label>
                                                <textarea class="form-control border-0 bg-light" id="nameTestCaseEdit"
                                                    name="nameTestCaseEdit" rows="4" placeholder="Test Case Title"
                                                    required></textarea>
                                                <div class="invalid-feedback">
                                                    Please Enter Test Case Title.
                                                </div>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="nameModuleEdit"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>
                                                        Select Module
                                                        <span style="color: #f44336">*</span>
                                                    </div>
                                                </label>
                                                <input type="text" id="nameModuleEdit" name="nameModuleEdit"
                                                    list="brow-module" class="form-select border-0 bg-light" required />
                                                <datalist id="brow-module">
                                                    {{#each project.AllModules}}
                                                    <option value="{{this.Name}}"></option>
                                                    {{/each}}
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    Please Select Module.
                                                </div>
                                                <div style="
                                    font-size: smaller;
                                    border-style: dashed !important;
                                " class="border border-1 rounded-2 mt-2 py-2 text-center d-flex justify-content-center align-items-center">
                                                    To add new module.
                                                    <button type="button" id="btnAddModuleTestCase"
                                                        class="btn btn-danger btn-sm ms-3"
                                                        onclick="window.open('/project/{{project.ProjectID}}/module', '_blank')">
                                                        Click here
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="mb-4" style="color: #919faf">
                                                <label for="priorityTestCaseEdit"
                                                    class="form-label d-flex justify-content-between">
                                                    <div>Priority</div>
                                                </label>
                                                <input list="brow-priority" id="priorityTestCaseEdit"
                                                    name="priorityTestCaseEdit" type="text" placeholder="Critical"
                                                    class="form-select border-0 bg-light" />
                                                <datalist id="brow-priority">
                                                    <option value="Critical"></option>
                                                    <option value="High"></option>
                                                    <option value="Medium"></option>
                                                    <option value="Low"></option>
                                                </datalist>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label for="nameTagsEdit"
                                                        class="form-label d-flex justify-content-between">
                                                        <div>Tags</div>
                                                    </label>
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        id="btn-add-tag-edit">
                                                        <i class="bi bi-plus"></i> Tag
                                                    </button>
                                                </div>
                                                <div class="tagsinput">
                                                    <input list="brow-tag-edit" placeholder="Enter a Tag"
                                                        class="form-select border-0 bg-light" type="text"
                                                        name="nameTagsEdit" id="nameTagsEdit" style="display: none;" />
                                                    <datalist id="brow-tag-edit">
                                                        <option value="sanity"></option>
                                                        <option value="regression"></option>
                                                    </datalist>
                                                    <div class="tag justify-content-center" id="tag-template-edit"
                                                        style="display: none;">
                                                        <span class="tag-text text-white"></span>
                                                        <span class="btn-delete-tag text-white">
                                                            <i class="bi bi-x"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">

                                            <div class="mb-4" style="color: #919faf">
                                                <label for="preconditionTestCaseEdit"
                                                    class="form-label">Precondition</label>
                                                <div class="rounded-top border d-flex p-2 bg-light">
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-bold"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-italic"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-link"></i>
                                                    </button>
                                                    <select class="form-select border-0 bg-light"
                                                        aria-label="Default select example" style="width: 8rem">
                                                        <option selected>Normal</option>
                                                        <option value="1">Small</option>
                                                        <option value="2">Normal</option>
                                                        <option value="3">Large</option>
                                                    </select>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ol"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ul"></i>
                                                    </button>
                                                </div>
                                                <textarea class="form-control rounded-top-0 bg-light"
                                                    id="preconditionTestCaseEdit" name="preconditionTestCaseEdit"
                                                    rows="5" placeholder="Enter Description"></textarea>
                                            </div>
                                            <div class="mb-4" style="color: #919faf">
                                                <label for="descriptionTestCaseEdit"
                                                    class="form-label">Description</label>
                                                <div class="rounded-top border d-flex p-2 bg-light">
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-bold"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-type-italic"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-link"></i>
                                                    </button>
                                                    <select class="form-select border-0 bg-light"
                                                        aria-label="Default select example" style="width: 8rem">
                                                        <option selected>Normal</option>
                                                        <option value="1">Small</option>
                                                        <option value="2">Normal</option>
                                                        <option value="3">Large</option>
                                                    </select>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ol"></i>
                                                    </button>
                                                    <button type="button" class="bg-light border-0 mx-1">
                                                        <i class="bi bi-list-ul"></i>
                                                    </button>
                                                </div>
                                                <textarea class="form-control rounded-top-0 bg-light"
                                                    id="descriptionTestCaseEdit" name="descriptionTestCaseEdit" rows="5"
                                                    placeholder="Enter Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <span id="errorMessageEdit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <button type="button" class="btn btn-outline-danger mx-2 my-auto fw-semibold" style="width: 10rem">
                All Test Cases
            </button>
        </div>
    </div>

    <div class="container bg-white rounded my-2">
        <div class="row py-3 px-1">
            <div class="col-3 h-100 modules-card">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h6 class="my-auto">Modules</h6>
                        <div>
                            <button type="button" class="btn btn-outline-secondary border-0 py-0 px-1">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary border-0 py-0 px-1">
                                <i class="fs-5 bi bi-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary border-0 py-0 px-1"
                                id="toggleButtonModules">
                                <i class="bi bi-arrow-right" id="toggleIconModules"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/project/{{project.ProjectID}}/test-case" class="search-module" method="get">
                            <input class="form-control mb-2" type="text" name="moduleKeyword"
                                placeholder="Type To Filter Module" aria-label="default input example" />
                        </form>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const form = document.querySelector('.search-module');
                                form.addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    const keyword = document.querySelector('input[name="moduleKeyword"]').value;
                                    const currentUrl = new URL(window.location.href);
                                    currentUrl.searchParams.set('moduleKeyword', keyword);
                                    window.location.href = currentUrl.toString();
                                });
                            });
                        </script>
                        <a href="/project/{{project.ProjectID}}/test-case">
                            <button type="button" class="btn btn-danger all-test-case">
                                <i class="bi bi-folder2 me-2"></i> All/Filtered Test Cases
                                (<span id="totalTestCases">{{project.TotalTestCase}}</span>)
                            </button>
                        </a>
                        <div class="list-group list-modules" id="list-modules" data-modules="{{project.Modules}}"
                            data-moduleID="{{project.ModuleID}}"></div>
                        <form id="moduleForm" action="/project/{{project.ProjectID}}/test-case" method="get"
                            style="display: none;">
                            <input type="hidden" name="ModuleID" id="moduleIDInput">
                            <input type="hidden" name="TestCaseCount" id="testCaseCountInput">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex my-auto" style="margin-left: -2.5rem; z-index: 1000; width: 20px">
                <a href="#" id="toggleButtonModulesTestCase">
                    <div class="rounded bg-success d-flex text-white" style="width: 30px; height: 40px">
                        <i class="bi bi-chevron-compact-left m-auto" id="toggleIconModulesTestCase"></i>
                    </div>
                </a>
            </div>
            <div class="col-9 test-cases-card ms-3">
                <div class="card bg-body-tertiary h-100">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <span>{{project.moduleName}}</span>

                                <div class="bg-danger-subtle px-2 mx-2 rounded">
                                    <span class="text-danger">{{project.TotalTestCase}}</span>
                                </div>
                                <a href="#" class="mx-2"><i class="bi bi-pencil"></i></a>
                            </div>
                            <div class="row col-8 ms-auto my-auto align-items-center">
                                <div class="col-7">
                                    <form action="/project/{{project.ProjectID}}/test-case" class="search-testcase"
                                        method="get">
                                        <input class="form-control" type="text" name="testCaseKeyword"
                                            placeholder="Search By Title" aria-label="default input example" />
                                    </form>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            const form = document.querySelector('.search-testcase');
                                            form.addEventListener('submit', function (event) {
                                                event.preventDefault();
                                                const keyword = document.querySelector('input[name="testCaseKeyword"]').value;
                                                const currentUrl = new URL(window.location.href);
                                                currentUrl.searchParams.set('testCaseKeyword', keyword);
                                                window.location.href = currentUrl.toString();
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-5 d-flex justify-content-between fs-6">
                                    <a href="#" title="Add" class="my-auto fs-4"><i class="bi bi-plus"></i></a>
                                    <a href="#" title="Move" class="my-auto"><i class="bi bi-arrows-move"></i></a>
                                    <a href="#" title="Duplicate" class="my-auto"><i class="bi bi-copy"></i></a>
                                    <a href="#" title="Remove" class="my-auto"><i class="bi bi-trash"></i></a>
                                    <a href="#" title="Comment" class="my-auto me-2"><i class="bi bi-chat-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="above d-flex justify-content-between">
                            <div class="w-25 d-flex">
                                <span class="my-auto">Show</span>
                                <select class="form-select mx-2 my-auto" style="
                        background-color: #f5f5f5;
                        height: 2.5rem;
                        width: 6rem;
                    " aria-label="Default select example">
                                    <option selected>10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                    <option value="3">50</option>
                                    <option value="3">100</option>
                                </select>
                                <div class="mx-2 d-flex">
                                    <span class="my-auto">Sort</span>
                                    <form action="" method="GET" class="mx-2 d-flex bg-white rounded" id="form-sort">
                                        <select name="sortField" class="form-select border-0 rounded-0 rounded-start"
                                            aria-label="Default select example" style="width: 10rem">
                                            <option value="created-date" {{#if (eq project.sortField 'created-date'
                                                )}}selected{{/if}}>Created date</option>
                                            <option value="title" {{#if (eq project.sortField 'title'
                                                )}}selected{{/if}}>Title</option>
                                            <option value="case-code" {{#if (eq project.sortField 'case-code'
                                                )}}selected{{/if}}>Case Code</option>
                                        </select>
                                        <select name="sortOrder" class="form-select border-0 rounded-0 ms-1 rounded-end"
                                            aria-label="Default select example" style="width: 7rem">
                                            <option value="desc" {{#if (eq project.sortOrder 'desc' )}}selected{{/if}}>
                                                Desc</option>
                                            <option value="asc" {{#if (eq project.sortOrder 'asc' )}}selected{{/if}}>Asc
                                            </option>
                                        </select>
                                    </form>
                                </div>


                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const sortForm = document.getElementById('form-sort');
                                        const sortFields = sortForm.querySelectorAll('select');

                                        sortFields.forEach(select => {
                                            select.addEventListener('change', function () {
                                                // Ly URL hin ti
                                                const currentUrl = new URL(window.location.href);

                                                // Ly cc tham s hin ti t URL
                                                const params = new URLSearchParams(currentUrl.search);

                                                // Cp nht cc tham s sp xp
                                                sortFields.forEach(field => {
                                                    params.set(field.name, field.value);
                                                });

                                                // To URL mi vi cc tham s  cp nht
                                                const newUrl = `${currentUrl.pathname}?${params.toString()}`;

                                                // Chuyn hng n URL mi
                                                window.location.href = newUrl;
                                            });
                                        });
                                    });
                                </script>
                            </div>
                            <div class="d-flex">
                                {{{createPagination pagination paginationClass="pagination"
                                paginationStyle="justify-content-center my-0"
                                leftText="Prev" rightText="Next" }}}
                            </div>
                        </div>

                        <div class="below">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td scope="col" class="bg-body-tertiary">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="case-code"
                                                    onchange="toggleCheckAllTestCase(this)" />
                                                <label class="form-check-label" for="case-code">Case Code</label>
                                            </div>
                                        </td>
                                        <td scope="col" class="bg-body-tertiary">Type</td>
                                        <td scope="col" class="bg-body-tertiary">Title</td>
                                        <td scope="col" class="bg-body-tertiary text-center">
                                            Actions
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each project.TestCases}}
                                    <tr>
                                        <td scope="col" class="bg-body-tertiary align-middle">
                                            <div class="form-check">
                                                <input class="form-check-input code-test-case-item" type="checkbox"
                                                    value="" id="code-test-case-item" />
                                                <label class="form-check-label" for="code-test-case-item">{{truncateId
                                                    this._id 12}}</label>
                                            </div>
                                        </td>
                                        <td scope="col" class="bg-body-tertiary align-middle">
                                            <a href="#">
                                                <i class="bi bi-file-earmark-text" style="color: #00897b"></i>
                                            </a>
                                        </td>
                                        <td scope="col" class="bg-body-tertiary align-middle">
                                            <a href="#" title="View details" data-bs-toggle="modal"
                                                data-bs-target="#editTestCase" onclick="showEditTestCaseModal(this)"
                                                data-id="{{_id}}" data-project-id="{{../project.ProjectID}}"
                                                data-title="{{Title}}" data-priority="{{Priority}}"
                                                data-precondition="{{Precondition}}" data-description="{{Description}}"
                                                data-module-id="{{ModuleID}}" class="test-case-link-modal"
                                                style="overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;">{{this.Title}}</a>
                                        </td>
                                        <td scope="col" class="bg-body-tertiary align-middle">
                                            <div class="d-flex justify-content-end">
                                                <a href="#" data-bs-toggle="tooltip" title="Test Case Text"
                                                    class="mx-2 my-auto d-none">
                                                    <div class="bg-danger-subtle px-2 rounded-2"
                                                        style="height: 16px; line-height: 1rem">
                                                        <span>4</span>
                                                    </div>
                                                </a>
                                                <a href="#" title="Edit" data-bs-toggle="modal"
                                                    data-bs-target="#editTestCase" onclick="showEditTestCaseModal(this)"
                                                    data-id="{{_id}}" data-project-id="{{../project.ProjectID}}"
                                                    data-title="{{Title}}" data-priority="{{Priority}}"
                                                    data-precondition="{{Precondition}}"
                                                    data-description="{{Description}}" data-module-id="{{ModuleID}}"
                                                    class="mx-2 my-auto text-primary">
                                                    <i class="bi bi-pencil"></i></a>
                                                <a href="#" data-bs-toggle="tooltip" title="Timesheet"
                                                    class="mx-2 my-auto"><i class="bi bi-clock"></i></a>
                                                <a href="#" data-bs-toggle="tooltip" title="Mapped Requirement"
                                                    class="mx-2 my-auto">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>

                                                <a href="#" data-bs-toggle="tooltip" title="Clone" class="mx-2 my-auto">
                                                    <i class="bi bi-copy"></i>
                                                </a>
                                                <a href="#" data-bs-toggle="tooltip"
                                                    data-projectId="{{../project.ProjectID}}" data-id="{{this._id}}"
                                                    title="Delete" class="mx-2 my-auto delete-btn text-danger"><i
                                                        class="bi bi-trash"></i></a>
                                                <a href="#" data-bs-toggle="tooltip" title="Actions"
                                                    class="mx-2 my-auto"><i class="bi bi-three-dots-vertical"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('a.test-case-link-modal').click(function (event) {
                event.preventDefault();

                var url = $(this).attr('href');
                window.location.href = url;
            });
        });

        window.onload = function () {
            var newUrl = window.location.pathname;
            var regex = /\/test-case\/([^/]+)$/;

            if (regex.test(newUrl)) {
                var $targetModal = $('#testCaseModal');
                var $targetLink = $('a[data-bs-toggle="modal"][data-bs-target="#testCaseModal"]');

                $targetModal.modal('show');
            }
        };
    </script>


    <script>
        function removeTag(element) {
            element.parentElement.remove();
        }
    </script>

    {{#if messages.error}}
    <div class="modal" id="flashMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thng bo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert" style="font-size: medium;">{{messages.error}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ng</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>

<script>
    // Ch i khi trang  ti hon ton
    $(document).ready(function () {
        // Kim tra nu c thng bo trong flash messages
        if ($('#flashMessageModal').length > 0) {
            $('#flashMessageModal').modal('show'); // Hin th modal dialog
        }
    });

    document.getElementById('btn-add-tag').addEventListener('click', function () {
        const tagInput = document.getElementById('nameTags');
        tagInput.style.display = 'inline';
        tagInput.focus();
    });

    document.getElementById('btn-add-tag-edit').addEventListener('click', function () {
        const tagInput = document.getElementById('nameTagsEdit');
        tagInput.style.display = 'inline';
        tagInput.focus();
    });

    document.getElementById('nameTags').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // Chn s kin Enter  khng submit form
            const tagText = e.target.value.trim();
            if (tagText !== '') {
                addTag(tagText);
                e.target.value = '';
                e.target.style.display = 'none';
            }
        }
    });

    document.getElementById('nameTagsEdit').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            e.preventDefault(); // Chn s kin Enter  khng submit form
            const tagText = e.target.value.trim();
            if (tagText !== '') {
                addTagEdit(tagText);
                e.target.value = '';
                e.target.style.display = 'none';
            }
        }
    });

    function addTag(text) {
        const tagTemplate = document.getElementById('tag-template');
        const newTag = tagTemplate.cloneNode(true);
        newTag.style.display = 'inline-flex';
        newTag.id = '';
        newTag.querySelector('.tag-text').textContent = text;
        newTag.querySelector('.btn-delete-tag').addEventListener('click', function () {
            newTag.remove();
        });
        tagTemplate.parentNode.insertBefore(newTag, tagTemplate);
    }

    function addTagEdit(text) {
        const tagTemplate = document.getElementById('tag-template-edit');
        const newTag = tagTemplate.cloneNode(true);
        newTag.style.display = 'inline-flex';
        newTag.id = '';
        newTag.querySelector('.tag-text').textContent = text;
        newTag.querySelector('.btn-delete-tag').addEventListener('click', function () {
            newTag.remove();
        });
        tagTemplate.parentNode.insertBefore(newTag, tagTemplate);
    }
</script>

<script src="/js/test-cases-CRUD.js"></script>