<div class="content px-3">
    {{>navigation}}
    <div class="container bg-white rounded d-flex justify-content-between my-3">
        <div class="my-auto d-flex">
            <span class="my-auto">Test Runs & Results</span>
            <div class="bg-danger-subtle px-2 mx-2 rounded">
                <span class="text-danger">{{project.TestRunsCount}}</span>
            </div>
        </div>
        <div class="right-side d-flex">
            <a href="#" class="guide mx-2 my-auto">
                <div class="text-center">
                    <img src="/images/guide.png" alt="" style="width: 2rem" />
                    <br />
                    <span>Guide</span>
                </div>
            </a>

            <a href="#" class="mx-2 my-auto">
                <i class="bi bi-archive"></i>
                Archived
            </a>

            <a href="#" class="mx-2 my-auto">
                <i class="bi bi-cloud-download"></i>
                Export
            </a>
            {{!--
            <select class="form-select mx-2 my-auto" style="background-color: #f5f5f5; height: 2.5rem; width: 10rem"
                aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> --}}

            <select class="form-select mx-2 my-auto" id="releaseDropdown"
                style="background-color: #f5f5f5; height: 2.5rem; width: 12rem" aria-label="Default select example">
                <option value="">All Releases</option>

                {{#each project.Releases}}
                <option value="{{_id}}">{{Name}}</option>
                {{/each}}
            </select>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const releaseDropdown = document.getElementById('releaseDropdown');
                    releaseDropdown.addEventListener('change', function (event) {
                        const selectedReleaseId = event.target.value;
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('selectedReleaseId', selectedReleaseId);
                        window.location.href = currentUrl.toString();
                    });
                });
            </script>

            <button type="button" class="btn btn-danger btn-graph ms-4 my-auto" data-bs-toggle="modal"
                data-bs-target="#addTestRun" style="width: 10rem">
                <i class="bi bi-plus"></i> Add Test Runs
            </button>

            <form class="needs-validation" novalidate id="addTestRunForm">
                <input type="hidden" name="projectID" value="{{project.ProjectID}}">
                <input type="hidden" name="userId" value="{{user._id}}">
                <div class="modal fade" id="addTestRun" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
                    style="display: none" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content" style="margin-left: 300px; padding-right: 300px">
                            <div class="modal-header">
                                <ul class="nav nav-underline menu-2">
                                    <li class="nav-item">
                                        <a class="nav-link active border-danger" aria-current="page" href="#">All Test
                                            Cases</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Specific Test Cases</a>
                                    </li>
                                </ul>

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5">
                                <div class="row row-cols-2 row-cols-md-3">
                                    <div class="col mb-3">
                                        <label for="fname" class="form-label">Name <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" id="fname" name="test-run-name" type="text"
                                            placeholder="Test Run Name" aria-label="default input example" required />
                                        <div class="invalid-feedback">
                                            Please enter the Test Run.
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label for="fversion" class="form-label">Version</label>
                                        <input class="form-control" id="fversion" name="version" type="text"
                                            placeholder="Enter the Version" aria-label="default input example" />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="fbrowser" class="form-label">Browser</label>
                                        <input class="form-control" id="fbrowser" name="browser" type="text"
                                            placeholder="Enter the Browser Name" aria-label="default input example" />
                                    </div>
                                    <div class="col mb-3">
                                        <label for="frelease" class="form-label">Release <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" list="datalistReleases" id="frelease" name="release"
                                            placeholder="Select the Release" required />
                                        <datalist id="datalistReleases">
                                            {{#each project.Releases}}
                                            <option value="{{Name}}"></option>
                                            {{/each}}
                                        </datalist>

                                        <div class="invalid-feedback">
                                            Please Select the Release.
                                        </div>
                                        <div class="d-flex m-2">
                                            <span class="my-auto">To add Release</span>
                                            <button type="button" class="btn btn-danger m-2 btn-sm" id="btnAddRelease">
                                                Click here
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label for="fassignto" class="form-label">Assign to <span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" list="datalistAssignTo" id="fassignto"
                                            name="assign-to" placeholder="Assign to" required />
                                        <datalist id="datalistAssignTo">
                                            {{#each project.Users}}
                                            <option value="{{Name}}"></option>
                                            {{/each}}
                                        </datalist>

                                        <div class="invalid-feedback">
                                            Please Select the Assigned User.
                                        </div>
                                    </div>
                                    {{!-- <div class="col mb-3">
                                        <label for="ftestcase" class="form-label">Test Case
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" list="datalistTestCases" id="ftestcase"
                                            name="testcase" placeholder="Select a Test Case" required />
                                        <datalist id="datalistTestCases">
                                            {{#each project.TestCases}}
                                            <option value="{{Title}}"></option>
                                            {{/each}}
                                        </datalist>
                                        <div class="invalid-feedback">
                                            Please Select the Test Case.
                                        </div>
                                    </div> --}}
                                </div>
                                {{!-- <div class="mb-3">
                                    <input class="form-check-input" type="checkbox" value="1"
                                        id="excludeRejectedTestCases" />
                                    <label class="form-check-label" for="excludeRejectedTestCases">Exclude Rejected Test
                                        Cases</label>
                                </div> --}}

                                {{!-- <div class="w-25 mb-3">
                                    <label for="fenvironment" class="form-label">Environment</label>
                                    <input class="form-control" list="datalistEnvironment" id="fenvironment"
                                        name="testplan" placeholder="Select Environment" />
                                    <datalist id="datalistEnvironment">
                                        <option value="San Francisco"></option>
                                        <option value="New York"></option>
                                        <option value="Seattle"></option>
                                        <option value="Los Angeles"></option>
                                        <option value="Chicago"></option>
                                    </datalist>
                                </div> --}}
                                <div class="mb-3">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        name="description" placeholder="Description"></textarea>
                                </div>

                                {{!-- <div class="border-start border-dark border-4 rounded bg-light px-3 py-2">
                                    <h6>Note:</h6>
                                    <h6>Add Test Run - Queue</h6>
                                    <p>
                                        ShareBug has the option to Queue the process of adding
                                        Test cases to Testrun. Enabling Queue for creating a
                                        test run with more than 500 Test cases will run in the
                                        background without affecting your regular work and
                                        takes lesser time and bandwidth.
                                    </p>
                                    <p class="m-0">
                                        Follow the steps to Enable Queue for Test Run
                                    </p>
                                    <p class="m-0">
                                        1. Go to Administration->Site Settings
                                    </p>
                                    <p class="m-0">
                                        2. Enable the option
                                        <strong>"Queue Enable/Disable For Test Run"</strong>
                                    </p>
                                    <a href="#" class="m-0">Read More...</a>
                                </div> --}}
                            </div>
                            <div class="modal-footer">
                                <div class="right-side d-flex">
                                    <button type="button" class="btn btn-outline-danger mx-2" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-danger mx-2">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="" class="needs-validation" novalidate>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title fs-5" id="exampleModalLabel">
                                    Add Release
                                </h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="faddrealease" class="form-label">Release <span
                                        class="text-danger">*</span></label>
                                <input class="form-control" id="faddrealease" name="add-realease" type="text"
                                    placeholder="Enter Release" aria-label="default input example" required />
                                <div class="invalid-feedback">
                                    Please Enter the Release Name.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger mx-2">
                                    Save
                                </button>
                                <button type="button" class="btn btn-outline-danger mx-2" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!--
                <script>
                    {
                        {
                            !--document
                                .getElementById("btnAddRelease")
                                .addEventListener("click", function () {
                                    // Mở modal 2 khi nhấp vào nút
                                    var modal2 = new bootstrap.Modal(
                                        document.getElementById("exampleModal")
                                    );
                                    modal2.show();
                                }); --}
                    }
                </script> --}}
            </form>

        </div>
    </div>
    <div class="container bg-white rounded-top d-flex">
        <div class="w-25 d-flex py-3">
            {{!-- <span class="my-auto">Show</span>
            <select class="form-select mx-2 my-auto" style="background-color: #f5f5f5; height: 2.5rem; width: 10rem"
                aria-label="Default select example">
                <option selected>10</option>
                <option value="1">20</option>
                <option value="2">30</option>
                <option value="3">50</option>
                <option value="3">100</option>
            </select>
            <span class="my-auto">entries</span> --}}
        </div>
        <div class="input-group mb-3 w-50 px-5 my-auto">


            <form action="" class="search-testRun mt-2 w-100">
                <input type="text" class="form-control" placeholder="Search by TestRun"
                    aria-label="Recipient's username" aria-describedby="button-addon2" name="testRunKeyword" />
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const form = document.querySelector('.search-testRun');
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        const keyword = document.querySelector('input[name="testRunKeyword"]').value;
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.set('testRunKeyword', keyword);
                        window.location.href = currentUrl.toString();
                    });
                });
            </script>

        </div>
        <div class="d-flex w-25 my-auto justify-content-end">
            {{{createPagination pagination paginationClass="pagination my-0" paginationStyle="justify-content-end"
            leftText="Prev" rightText="Next" }}}
        </div>
    </div>
    <div class="container bg-white px-0">
        <table class="table px-0 mb-0">
            <thead class="table-danger text-light">
                <tr>
                    <td scope="col" class="border border-light-subtle">
                        Created By
                    </td>
                    <td scope="col" class="border border-light-subtle">Title</td>
                    <td scope="col" class="border border-light-subtle">Type</td>
                    <td scope="col" class="border border-light-subtle">
                        Assigned To
                    </td>
                    <td scope="col" class="border border-light-subtle">
                        Created Date
                    </td>
                    <td scope="col" class="border border-light-subtle">
                        Test Cases
                    </td>
                    <td scope="col" class="border border-light-subtle">Status</td>
                    <td scope="col" class="border border-light-subtle">Action</td>
                </tr>
            </thead>
            <tbody class="">
                {{#each project.TestRuns}}
                <tr>
                    <td scope="col" class="pt-3">
                        <div class="d-flex">
                            <div class="rounded-circle bg-primary d-flex mx-1 border border-5 border-primary-subtle text-white"
                                style="width: 3rem; height: 3rem">
                                <span class="m-auto">{{getInitials this.CreatedBy}}</span>
                            </div>
                            <span class="my-auto">{{this.CreatedBy}}</span>
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem;">
                            <a href="/project/{{../project.ProjectID}}/test-run/result" class="mx-1"
                                style="max-width: 180px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; ">{{this.Name}}</a>
                            {{!-- <a href="#"><i class="bi bi-pencil mx-1"></i></a> --}}
                            <a href="#"><i class="bi bi-paperclip mx-1"></i></a>
                        </div>
                    </td>
                    <td scope="col" class="pt-3 text-center">
                        <div style="margin-top: 0.8rem">All</div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="d-flex">
                            <div class="rounded-circle bg-primary bg-gradient d-flex mx-1 border border-5 border-primary-subtle text-white"
                                style="width: 3rem; height: 3rem">
                                <span class="m-auto">{{getInitials this.AssignTo}}</span>
                            </div>
                            <span class="my-auto">{{this.AssignTo}}</span>
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div>
                            <span>{{formatDate2 this.CreatedAt}}</span>
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="bg-danger-subtle d-inline-block px-2 py-3 rounded">
                            <span class="text-danger m-0 p-0">{{TestCases.length}}</span>
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="rounded status-untested d-flex"
                            style="width: 10rem; height: 100%; margin-top: 1.5rem">
                            <div class="status-passed rounded-start" style="width: 20%; height: 0.5rem"></div>
                            <div class="status-blocked" style="width: 0%; height: 0.5rem"></div>
                            <div class="status-retest" style="width: 0%; height: 0.5rem"></div>
                            <div class="status-failed" style="width: 20%; height: 0.5rem"></div>
                            <div class="status-not-applicable" style="width: 0%; height: 0.5rem"></div>
                            <div class="status-not-in-progress" style="width: 0%; height: 0.5rem"></div>
                            <div class="status-not-hold" style="width: 0%; height: 0.5rem"></div>
                            <div class="status-untested rounded-end" style="width: 60%; height: 0.5rem"></div>
                        </div>
                    </td>
                    <td scope="col" class="pt-3">
                        <div class="d-flex" style="margin-top: 0.8rem">
                            <a href="/project/{{../project.ProjectID}}/test-run/{{_id}}" data-bs-toggle="tooltip"
                                title="Run" class="my-auto mx-2"><i class="bi bi-play-circle-fill text-success"></i></a>
                            <a href="#" data-bs-toggle="tooltip" title="Graph XLS" class="my-auto mx-2"><img
                                    src="/images/graph.png" alt="" style="width: 2rem; height: 2rem" /></a>
                            <a href="#" data-bs-toggle="tooltip" title="Timesheet" class="my-auto mx-2"><i
                                    class="bi bi-clock"></i></a>
                            <a href="#" data-bs-toggle="tooltip" title="Clone" class="my-auto mx-2 d-flex"><i
                                    class="bi bi-copy me-2"></i> Clone</a>
                            <a href="#" data-bs-toggle="tooltip" title="Share" class="my-auto mx-2"><i
                                    class="bi bi-share"></i></a>
                            <a data-bs-toggle="modal" data-bs-target="#editTestRun" href="#" data-bs-toggle="tooltip"
                                title="Edit" class="my-auto mx-2" data-id="{{this._id}}" data-name="{{this.Name}}"
                                data-version="{{this.Version}}" data-browser="{{this.Browser}}"
                                data-assign-to="{{this.AssignTo}}" data-testcase="{{this.TestCases.length}}"
                                data-description="{{this.Description}}" data-status="{{this.Status}}"
                                data-createdby="{{../user._id}}">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <form class="needs-validation editTestRunForm" novalidate id="editTestRunForm">

                                <div class="modal fade" id="editTestRun" tabindex="-1"
                                    aria-labelledby="exampleModalFullscreenLabel" style="display: none"
                                    aria-hidden="true">
                                    <input type="hidden" name="projectID" value="{{../project.ProjectID}}">
                                    <input type="hidden" name="test-run-id" value="this._id">
                                    <input type="hidden" name="status" value="{{this.Status}}">
                                    <input type="hidden" name="createdBy" value="{{../user._id}}">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content" style="margin-left: 300px; padding-right: 300px">
                                            <div class="modal-header">
                                                <ul class="nav nav-underline menu-2">
                                                    <li class="nav-item">
                                                        <a class="nav-link active border-danger" aria-current="page"
                                                            href="#">All Test
                                                            Cases</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">Specific Test Cases</a>
                                                    </li>
                                                </ul>

                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body px-5">
                                                <div class="row row-cols-2 row-cols-md-3">
                                                    <div class="col mb-3">
                                                        <label for="fname" class="form-label">Name <span
                                                                class="text-danger">*</span></label>
                                                        <input class="form-control" id="fname" name="test-run-name"
                                                            type="text" placeholder="Test Run Name"
                                                            aria-label="default input example" required />
                                                        <div class="invalid-feedback">
                                                            Please enter the Test Run.
                                                        </div>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="fversion" class="form-label">Version</label>
                                                        <input class="form-control" id="fversion" name="version"
                                                            type="text" placeholder="Enter the Version"
                                                            aria-label="default input example" />
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="fbrowser" class="form-label">Browser</label>
                                                        <input class="form-control" id="fbrowser" name="browser"
                                                            type="text" placeholder="Enter the Browser Name"
                                                            aria-label="default input example" />
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="frelease" class="form-label">Release</label>
                                                        <input class="form-control" list="datalistReleases"
                                                            value="{{this.Release.Name}}" id="frelease" name="release"
                                                            placeholder="Select a Release" />
                                                        <datalist id="datalistReleases">
                                                            {{#each ../project.Releases}}
                                                            <option value="{{Name}}"></option>
                                                            {{/each}}
                                                        </datalist>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="fassignto" class="form-label">Assign to <span
                                                                class="text-danger">*</span></label>
                                                        <input class="form-control" list="datalistAssignTo"
                                                            id="fassignto" name="assign-to" placeholder="Assign to"
                                                            required />
                                                        <datalist id="datalistAssignTo">
                                                            {{#each ../project.Users}}
                                                            <option value="{{Name}}"></option>
                                                            {{/each}}
                                                        </datalist>

                                                        <div class="invalid-feedback">
                                                            Please Select the Assigned User.
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="3" name="description"
                                                        placeholder="Description"></textarea>
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <div class="right-side d-flex">
                                                    <button type="button" class="btn btn-outline-danger mx-2"
                                                        data-bs-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button type="submit" class="btn btn-danger mx-2">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <a href="#" data-bs-toggle="tooltip" title="Delete" class="my-auto mx-2 delete-test-run"
                                data-id="{{this._id}}" data-projectID="{{../project.ProjectID}}"><i
                                    class="bi bi-trash"></i></a>

                        </div>
                    </td>
                </tr>
                {{/each}}
                <script>

                </script>
            </tbody>
        </table>
    </div>
    <div class="container bg-white rounded-bottom d-flex justify-content-between py-4">

    </div>
</div>

<script src="/js/test-run-CRUD.js"></script>